################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LAPP/.vs/LAPP/v14
/LAPP/LAPP.ENUM/obj/Debug
