
input[type="file"]
{
    max-width: 168px !important;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.personalinfo input[type="file"]
{
    width: 168px !important;
}
td.ajax__validatorcallout_icon_cell {
border-top: 1px solid black !important;
}

.IEwidth
{
    width: 230px;
}