.textBoxAlign p label {
line-height: 22px;
color: #333;
float: left;
text-align: right;
width: 131px;
padding-right: 17px;
}

.textBoxAlign p input, .textBoxAlign p select, .textBoxAlign p textarea {
float: left;
width: 137px;
}
.textBoxAlign p select
{
    
    width:143px;
}