
input[type="file"]
{
    max-width: 200px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.button, .button.medium:link, .button.medium:active, .button.medium:visited, .button.medium
{
    background-position: left -44px;
}
a.small {
    padding: 3px 8px;
    font-size: 12px !important;
    line-height: 17px;
    border-radius: 3px;
    font-weight: normal !important;
    text-decoration: none;
}
.small
{
    padding: 1px 8px;
    font-size: 12px !important;
    line-height: 17px;
    border-radius: 3px;
    font-weight: normal !important;
}
.medium
{
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
a.medium
{
    padding: 7px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    text-decoration: none;
}
/*********************************Green Button Start*****************************/
.buttonGreen
{
    background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5cb85c),to(#419641));
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #3e8f3e;
}
.buttonGreen
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border: 1px solid #478839 !important;
}

.buttonGreen:hover, .buttonGreen:focus
{
    background-color: #419641;
    background-position: 0 -15px;
}
